.App {
	margin: 0;
	padding: 3em;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	line-height: 1.5;
	background: #FFF;
	color: #444;
	width: 60em;
	border-left: 6px solid #DDD;
}

/* h1, h2, h3 {
	margin: 0;
	padding: 0;
} */

h1 {
  text-align: left;
  font-size: calc(40px + 2vmin);
  color: rgb(255, 4, 4);
}

h2 {
  text-align: left;
}

Nav {
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  display: flex;
  
}

a {
  color: grey;
}

img {
	display: block;
	margin: 10px 0;
	max-width: 100%;
}