@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap');

body {
    background-color: rgb(54, 84, 104);
    min-height: 100vh;
    padding: 1rem;
    margin: 1rem;
    align-items: center;
    justify-content: center;
    font-family: 'Source Code Pro', monospace;
  }
  
  h1 h2 h3 {
    color: rgb(231, 204, 111);
  }

  p span {
    color: white;
  }

  button {
    background-color:  rgb(231, 204, 111);
    border-radius: 10px;
    border-style: none;
    color: rgb(54, 84, 104);
  }

  header {
    color: white;
    font-size: calc(20px + 2vmin);
    font-family: 'Source Code Pro', monospace;
  }
  